body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    border: 0.5px solid black;
}

.grid-tile {
    border: 0.5px solid black;
}