body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.grid-tile {
    border: 0.5px solid black;
}

.all-controls {
    display: flex;
    justify-content: space-between;
    
}

.all-buttons {
    display: flex;
    flex-direction: column;
    width: 90px;
    gap: 10px;
}

.shader-container {
    display: flex;
    justify-content: space-between;
}