body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
    background-image: linear-gradient(rgb(34, 11, 66), rgb(122, 170, 131));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Aladin', sans-serif;
    font-style: italic;
    color: white;
}

h1 {
    font-style: normal;
    font-size: 60px;
}

button {
    width: 85px;
    font-family: 'Aladin', sans-serif;
    color: white;
    background-color: rgba(33, 33, 33, 0.924);
    border: none;
    border-radius: 10px;
    padding: 3px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: white;
    margin: 0px 10px;
}

.grid-n-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.slider-input {
    appearance: none;
    width: 75%;
    background-image: linear-gradient(to right, rgb(122, 170, 131), rgb(34, 11, 66));
    border-radius: 50%;
}

.slider-input::-webkit-slider-thumb {
    appearance: none;
    background-color: rgb(119, 17, 17);
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.slider-output {
    font-size: 25px;
}

.all-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95px;
    gap: 50px;
}

.picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin-bottom: 250px;
}

.color-picker {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    width: 100px;
    height: 100px;
}

::-webkit-color-swatch {
    border-color: transparent;
    border-radius: 10%;
}

::-moz-color-swatch {
    border-color: transparent;
    border-radius: 10%;
}

.shader-container, .random-container, .eraser-container {
    display: flex;
    justify-content: space-between;
    width: 115px;
}